<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2280354_czkvlu76oi.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="icon" type="image/png" href="https://cdn.jsdelivr.net/gh/aner1001/picBed/img/favicon/32favicon32.ico" />
    <link href="assets/img/13.png" rel="shortcut icon" type="image/png">
    <title>{{site.title}}</title>
</head>
<body>
    <div class="main-container">
        <div class="update"><lable>更新时间</lable>{{site.update}}</div>
        <div class="items">
            {% include person.html %}
            {{content}}
        </div>
    </div>
</body>
</html>
